<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col">
                <div class="block contact-block">
                    <!--@todo: replace with company contact details-->
                    <h3>Contact Us</h3>
                    <address>
                        <p><abbr title="Phone"><i class="fa fa-phone"></i></abbr> [TODO: 415-555-5556]</p>
                        <p><abbr title="Email"><i class="fa fa-envelope"></i></abbr> [TODO:]info@clear-lines.com</p>
                        <p><abbr title="Address"><i class="fa fa-home"></i></abbr> [TODO:] 144 Lexington, San Francisco, CA</p>
                    </address>
                </div>
            </div>
        </div>
    </div>
</footer>