<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col">
                <div class="block contact-block">
                    <!--@todo: replace with company contact details-->
                    <h3>Contact Us</h3>
                    <address>
                        <p><abbr title="Phone"><i class="fa fa-phone"></i></abbr>(415) 830-3280</p>
                        <p><abbr title="Email"><i class="fa fa-envelope"></i></abbr>info@clear-lines.com</p>
                        <p><abbr title="Address"><i class="fa fa-home"></i></abbr>117 Lexington Street, #3, San Francisco, CA 94110</p>
                    </address>
                </div>
            </div>
        </div>
    </div>
</footer>