<div id="navigation" class="wrapper">
    <div class="navbar-static-top">
        <!--Header & Branding region-->
        <div class="header">
            <div class="header-inner container">
                <div class="row">
                    <div class="col-md-8">
                        <!--branding/logo-->
                        <a class="navbar-brand" href="/" title="Home">
                            <h1><span>Clear</span>Lines<span>.</span></h1>
                        </a>
                        <div class="slogan">Clear solutions to complex business problems</div>
                    </div>
                </div>
            </div>
        </div>

        <!--Change order for full width navbar
        <div class="navbar">
          <div class="container" data-toggle="clingify">-->
        <div class="container" data-toggle="clingify">
            <div class="navbar">
                <!--
                mobile collapse menu button 2
                - data-toggle="toggle" = default BS menu
                - data-toggle="jpanel-menu" = jPanel Menu
                -->
                <a class="navbar-btn" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed"> 
                    <span class="bar"></span> 
                    <span class="bar"></span> 
                    <span class="bar"></span> 
                    <span class="bar"></span> 
                </a>

                <!--everything within this div is collapsed on mobile-->
                <div class="navbar-collapse collapse" ng-class="{'in':!navCollapsed}">

                    <!--main navigation-->
                    <ul class="nav navbar-nav">
                        <li class="home-link">
                            <a href="/">
                                <i class="fa fa-home" ng-if="navCollapsed"></i>
                                <span ng-if="!navCollapsed" >Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/team" class="menu-item">Team</a>
                        </li>
                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </div>
    </div>
</div>