<div id="navigation" class="wrapper">
    <div class="navbar-static-top">
        <!--Header & Branding region-->
        <div class="header">
            <div class="header-inner container">
                <div class="row">
                    <div class="col-md-8">
                        <!--branding/logo-->
                        <a class="navbar-brand" href="/" title="Home">
                            <h1><span>Clear</span>Lines<span>.</span></h1>
                        </a>
                        <div class="slogan">Clear solutions to complex business problems</div>
                    </div>
                </div>
            </div>
        </div>

        <!--Change order for full width navbar
        <div class="navbar">
          <div class="container" data-toggle="clingify">-->
        <div class="container" data-toggle="clingify">
            <div class="navbar">
                <!--
                mobile collapse menu button
                - data-toggle="toggle" = default BS menu
                - data-toggle="jpanel-menu" = jPanel Menu
                -->
                <a class="navbar-btn" data-toggle="jpanel-menu" data-target=".navbar-collapse"> <span class="bar"></span> <span class="bar"></span> <span class="bar"></span> <span class="bar"></span> </a>

                <!--everything within this div is collapsed on mobile-->
                <div class="navbar-collapse collapse">

                    <!--main navigation-->
                    <ul class="nav navbar-nav">
                        <li class="home-link"><a href="/"><i class="fa fa-home"></i><span class="hidden">Home</span></a></li>
                        <li><a href="#/team" class="menu-item">Team</a></li>
                        
                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </div>
    </div>
</div>